@model User
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="card">
    <div class="card-heading border bottom">
        <br />
        <h4 class="card-title text-center">Add New User</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <form asp-controller="PanelUser" asp-action="Add" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" asp-for="Username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" asp-for="Password" required>
                    </div>
                    <div class="form-group">
                        <label>Is This User In Admin ?</label>
                        <select class="form-control" asp-for="IsAdmin">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>User Api Key</label>
                        <input type="text" class="form-control" asp-for="ApiKey" required>
                    </div>
                    <center><button type="submit" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Add New User</button></center><br />
                </form>
            </div>
        </div>
    </div>
</div>

